* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(./background.jpg);
    background-color: rgb(255, 255, 255);
    background-blend-mode: hard-light;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    border: 20px solid #fff;
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 6px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 50ms;

}

.sec-hand {
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}



